<div class="row background w-100 h-100 position-absolute top-0 start-0 text-white">

  <div class="col-md-6 mb-3">
    <section class="container d-flex py-3 justify-content-center">
      <button 
        class="btn btn-outline-info shadow btn-lg btn-add"
        style="z-index: 1008"
        title="Add Player"
        (click)="addPlayer()">
          <fa-icon 
            [icon]="faIcons.add"
            class="fa-2x"></fa-icon>
            <p class="text-center text-sm">Add Player</p>
      </button>
    </section>

    <router-outlet></router-outlet>
  </div>

  <div class="col-md-6">
    <app-leaderboard></app-leaderboard>
  </div>
</div>