<div class="container mt-2">
  <div class="">
    <div class="card bg-light">
      <div class="card-head mt-2 text-center">
        <h4>Add Player</h4>
      </div>
      <div class="card-body p-2">
        <form (ngSubmit)="createPlayer(playerForm.value)" #playerForm="ngForm">
          <mat-form-field class="col-6">
            <mat-label for="username">Username</mat-label>
            <input 
              matInput matNativeControl 
              name="username" id="username" [(ngModel)]=playerData.username
              #username ngModel required />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label for="telephone">Phone Number</mat-label>
            <input 
              matNativeControl matInput id="telephone" 
              name="phone_number" #phone_number
              [(ngModel)]=playerData.phone_number
              required />
          </mat-form-field>  

          <mat-form-field class="col-12">
            <mat-label for="email">Email</mat-label>
            <input matInput 
              type="email"
              id="email"
              name="email"
              [(ngModel)]=playerData.email
              #email />

          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label for="gender">Gender</mat-label>
            <mat-select id="gender" name="gender" #gender [(ngModel)]=playerData.gender>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="LGBT">LGBT</mat-option>
              <mat-option value="I\'d Rather Not Say">I'd Rather Not Say</mat-option>
            </mat-select>
          </mat-form-field>
          
          <div class="d-flex justify-content-between">
              <button 
                mat-button
                routerLink="/"
                mat-dialog-close>
                CANCEL
              </button>

            <button
              type="submit"
              color="primary"
              mat-raised-button>SAVE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>